@import url('https://fonts.googleapis.com/css?family=Microma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, rgba(106, 209, 228, 0.59) 1%, #FC42FF 100%);
}

p {
    color: black
}

.nav-link {
    color: aquamarine;
}

.navbar .nav-link.active {
    color: rgb(84, 109, 101);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(84, 109, 101);
}

.sidebar {
    color: rgb(3, 15, 11);
    background: linear-gradient(100deg, rgba(106, 209, 228, 0.59) 1%, #bb01be 100%);

}

.card,
.btn-outline-primary {
    background: linear-gradient(150deg, rgba(127, 206, 219, 0.59) 1%, #c775c9 100%);

}

.card a {
    text-decoration: none;
    color: black;
}

.slide-text,
.footer-text {
    color: rgb(0, 0, 0);
    margin: auto auto;
}

footer {
    background-color: lightcoral;
}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}